*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'samarkan_____normal';
    src: url('font/saman___-webfont.woff2') format('woff2'),
         url('font/saman___-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300&display=swap');
.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    flex-wrap: nowrap;
}

.col1{
    height: 100vh;
    width: 30vw;
    background-color: green;
    background-image: url(img/balance.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80vh;

}

.logo{
    background-color: rgba(183, 54, 3, 0.3);
    /* position:relative;
    top: 2vh; */
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}
.logo img{
    height: 15vh;
}
.logo p{
    font-size: 15vh;
    color: #b73603;
    font-family: 'samarkan_____normal';
}

.col2{
    height: 100vh;
    width: 70vw;
    padding-top: 15vh;
    background-color: #c4d3da;
    color: #032f43;
    font-family: 'Roboto','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.textArea{
    height: auto;
    padding-left: 2vw;
    padding-bottom: 4vw;
    font-size: 2.7vh;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    gap: 4vh;
}

.textInput{
    width: 100%;
    height: auto;
    padding-top: 1.5vw;
    padding-left: 2vw;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 1px, rgba(0, 0, 0, 0.05) 0px 2px 2px, rgba(0, 0, 0, 0.05) 0px 4px 4px, rgba(0, 0, 0, 0.05) 0px 8px 8px, rgba(0, 0, 0, 0.05) 0px 16px 16px; 
    /* margin-bottom: 3vh; */
    background-color: #eaeef0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.textInput p{
    width: 100%;
    padding-bottom: 1vw;
    font-size: 2.5vh;
    font-weight: 700;
}

.input{
    display: flex;
    flex-flow: column wrap;
    width: 40%;
    padding-bottom: 1vw;
    padding-right: 2vw;
    
}
.input input{
    border: 1px solid #E5E7EB;
    border-radius: 3px;
    height: 3.5vh;
}
.input label{
    padding-bottom: 3px;
    font-size: small;
    text-transform: uppercase;

}

#submit{
    margin: 3vh 2vw;
    padding: 12px 40px;
    background-color: #b73603;
    border: 1px solid #b73603;;
    color: white;
    font-size: medium;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;;
}
input:focus{
    outline: none;
    border: 1px solid #032f43;
    box-shadow: rgba(3, 47, 67, 0.24) 0px 3px 8px;;
}
input:invalid{
    outline: none;
    border: 1px solid rgb(183, 54, 3);;
    box-shadow: rgba(183, 54, 3, 0.24) 0px 3px 8px;;
}

.logIn{
    margin-left: 2vw ;
}
.logIn a{
    text-decoration: none;
    color: #b73603;
    font-weight: 700;
}









